h1 {
	color: #fff;
	text-shadow: 1px 1px 1px #333;
	background-color: #FEAC31;
	border: 1px solid black;
	text-align: center;
}

.maincontent {
	width: 90%;
	margin-left: 40px;
	background-color: #eee;
	overflow: auto;
}

.maincontent div {
	margin-bottom: 20px;
}

.left {
	float: left;
	width: 200px;

}

.right {
	display: inline-block;
	float: right;
	min-width: 600px;
}

.song {
	margin-bottom: 5px;
}
