h1 {
	color: #fff;
	text-shadow: 1px 1px 1px #333;
	background-color: #FEAC31;
	border: 1px solid black;
	text-align: center;
}

.maincontent {
	width: 90%;
	margin: 0 auto;
	background-color: #eee;
	overflow: auto;
}

.maincontent div {
	margin-bottom: 20px;
}

.left {
	float: left;
	width: 20%;
}

.right {
	display: inline-block;
	float: right;
	overflow: auto;
	width: 70%;
}

.list-header {
	padding-left: 20px;
	font-size: 24px;
	font-weight: bold;
}

.tracklist {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding: 20px 0px;
 	white-space: nowrap;
}

.song {
	margin-bottom: 5px;
}

.last {
	margin-bottom: none;
}
