h1 {
	color: #fff;
	text-shadow: 1px 1px 1px #333;
	background-color: #FEAC31;
	border: 1px solid black;
	text-align: center;
}

.maincontent {
	display: inline-block;
	width: 90%;
	margin-left: 30px;
}

.maincontent div {
		margin-bottom: 20px;
	}

.left {
	float: left;
	width: 200px;

}

.right {
	float: right;
}

.song {
	margin-bottom: 5px;
}
